* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-position: center center;
    background-size:cover;
    transition: background-image 1s ease-in-out;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    /* background: radial-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.3), 
         rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3), 
        rgba(255, 255, 255, 0.4)
        ); */
    background: radial-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0,0.4), 
        rgba(0, 0, 0,0.6)
        );
    background-size:cover;
    background-position: center center;
    padding: 1rem;
}

#time {
    font-size: 8rem;
    min-width: 20rem;
    text-align: center;
}

#date {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

#focusText {
    min-width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    outline: 0;
}

#name {
    min-width: 5rem;
    outline: 0;
}

.weather {
    width: 100%;
    margin-bottom: 1rem;
}

.weather-icon {
    font-size: 5rem;
}

.weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.weather-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.weather-info {
    display: flex;
    font-size: 1.5rem;
}

.weather-info > * {
    margin-right: 1rem;
}

.weather-info>*:last-child {
    margin-right: 0;
}

.wind-icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

#geo-location {
    min-width: 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    outline: 0;
}

h1 {
    display: flex;
    flex-direction: row;
    padding-top: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.65;
    text-align: center;
}

.absolute {
    position: absolute;
}

.btn {
    width: 3rem;
    height: 3rem;
    border: 0;
    background: url("./../assets/update-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(0.9);
    margin: 1rem;
    transition: filter 0.5s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    filter: grayscale(0.6);
}

.btn:active,
.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(1.05);
    /* animation:spin 1s linear infinite; */
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.btn__cite {
    align-self: center;
    margin:0;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
}

.rotation {
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.quote {
    min-width: 20rem;
    width: 100%;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    #time {
        font-size: 6rem;
    }
}

@media (max-width: 380px) {
    h1 {
        flex-direction: column;
    }
    #time {
        font-size: 5rem;
        text-align: center;
    }
    #date {
        font-size: 1.25rem;
    }
    .quote {
        font-size: 0.875rem;
    }
}