$font-size: 1.6rem;
$font-family: 'Inter', sans-serif;
$background-color: #121212;
$background-cell-color: rgba(0, 0, 255, 0.8);
$color-cell-border: rgba(50, 100, 200, 0.8);
$color-bg-overlay: rgba(0, 0, 0, 0.7);
$font-color: #dae0e0;
$page-width: 65rem;
