@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

#game-area {
  box-sizing: content-box;
  border-radius: 1rem;
  border: 2px solid white;
  position: relative;
}

#cell-empty {
  border: 2px solid red;
}

.cell {
  border-radius: 1rem;
  border: 2px solid yellowgreen;
  position: absolute;
}
