@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

#game-area {
  box-sizing: content-box;
  border-radius: 1rem;
  border: 2px solid white;
  position: relative;
}

#cell-empty {
  border: none;
}

.cell {
  cursor: pointer;
  border-radius: 1rem;
  border: 2px solid yellowgreen;
  position: absolute;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
