@font-face {
  font-family: 'Georgia';
  src: url("./../../assets/fonts/Georgia/Georgia.eot");
  src: local("Georgia"), url("./../../assets/fonts/Georgia/Georgia.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Georgia/Georgia.woff") format("woff"), url("./../../assets/fonts/Georgia/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("./../../assets/fonts/Georgia/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("./../../assets/fonts/Georgia/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff"), url("./../../assets/fonts/Georgia/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("./../../assets/fonts/Arial/ArialMT.eot");
  src: local("Arial"), local("ArialMT"), url("./../../assets/fonts/Arial/ArialMT.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Arial/ArialMT.woff") format("woff"), url("./../../assets/fonts/Arial/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("./../../assets/fonts/Arial/Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("./../../assets/fonts/Arial/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff"), url("./../../assets/fonts/Arial/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  font-size: 10px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia";
}

.wrapper {
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  padding-top: 3rem;
  z-index: 1;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  text-decoration: none;
}

.logo__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1rem;
}

.logo__subtitle {
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: #292929;
}

.logo__subtitle,
.navigation__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
}

.navbar__toggler {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #545454;
}

.navigation__link:hover {
  cursor: pointer;
  color: #292929;
}

.navigation__link_active {
  border-bottom: 3px solid #f1cdb3;
}

.navigation__link_active:hover {
  opacity: 1;
}

.navigation__link_disabled {
  cursor: default;
}

.navigation__link_disabled:hover {
  cursor: default;
  color: #545454;
}

.main {
  padding-top: 12rem;
}

.pets {
  background: #f6f6f6;
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.pets__header {
  width: 40rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 4.5rem;
}

.btn__primary_pets {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.btn__disabled {
  color: #cdcdcd;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 2.4rem;
}

.slider__controls {
  width: 100%;
  max-width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.4rem;
}

.slider__btn {
  width: 5.2rem;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  letter-spacing: 0.06em;
  font-family: Georgia;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #292929;
}

.slider__btn:hover {
  cursor: pointer;
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

.slider__btn_disabled {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}

.slider__btn_disabled:hover {
  cursor: auto;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  background: none;
}

.slider__btn_active {
  background-color: #f1cdb3;
}

.slider__btn_active:hover {
  cursor: auto;
  border: none;
  background-color: #f1cdb3;
}

.card {
  max-width: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
  border-radius: 0.9rem;
  margin-bottom: 2.8rem;
  padding-bottom: 3rem;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__image {
  margin-bottom: 3rem;
}

.card__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2.9rem;
}

.btn_secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  padding: 15px 45px;
}

.btn_secondary:hover {
  cursor: pointer;
  background: #fddcc4;
}

.footer {
  background: url(./../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4rem;
}

.contacts {
  max-width: 28rem;
  padding-top: 1.6rem;
}

.contacts__title {
  max-width: 28rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 4rem;
}

.contacts__email {
  margin-bottom: 4rem;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.email__link,
.phone__link,
.location__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.email__icon {
  color: #f1cdb3;
  margin-right: 2rem;
}

.email__text {
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.phone__icon {
  color: #f1cdb3;
  margin-right: 2rem;
}

.phone__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.location {
  max-width: 30.2rem;
  padding-top: 1.6rem;
}

.location__title {
  max-width: 27rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 3.4rem;
}

.location__icon {
  color: #f1cdb3;
  margin-right: 2rem;
}

.location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.2rem;
}

.location__text {
  font-family: #f1cdb3;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    padding: 0 3rem;
  }
  .pets__wrapper {
    padding-bottom: 7rem;
  }
  .pets__header {
    margin-bottom: 3rem;
  }
  .slider {
    max-width: 70.8rem;
  }
  .slider__items {
    max-width: 58rem;
    max-height: 136.5rem;
    position: relative;
    overflow: hidden;
    padding-top: 0;
    margin-bottom: 4rem;
  }
  .slider__btn {
    margin-right: 0;
  }
  .footer__wrapper {
    max-width: 70.8rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 3rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }
  .contacts,
  .location {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 0;
  }
  .footer__image-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 1rem;
  }
  .header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo {
    max-width: 19rem;
    margin-right: 4rem;
  }
  .navigation {
    display: none;
  }
  .navbar__toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background: none;
    margin-right: 4.3rem;
  }
  .navbar__toggler:hover {
    cursor: pointer;
  }
  .navbar__toggler-icon {
    width: 3rem;
    height: 0.2rem;
    background-color: #f1cdb3;
    margin-bottom: 0.8rem;
  }
  .navbar__toggler-icon:last-child {
    margin-bottom: 0;
  }
  .pets__wrapper {
    padding: 4.2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pets__header {
    max-width: 30rem;
    font-family: "Georgia";
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 4.2rem;
  }
  .slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 27rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .slider__btn_left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .slider__btn_right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .slider__items {
    margin-bottom: 0;
  }
  .slider__controls {
    padding-top: 2.2rem;
  }
  .slider__btn {
    margin-top: 2rem;
  }
  .slider__btn_left {
    margin-left: 4.2rem;
  }
  .slider__btn_right {
    margin-right: 4.2rem;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3rem 0 0;
  }
  .contacts,
  .location {
    max-width: 30rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    margin-bottom: 0;
  }
  .contacts__title,
  .location__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .location__info,
  .location__title {
    margin-bottom: 4rem;
  }
  .location__link {
    width: 30rem;
  }
  .email_link {
    max-width: 25.1rem;
  }
  .footer__image-container {
    padding: 0;
  }
  .footer__image {
    max-width: 26rem;
  }
}
/*# sourceMappingURL=our-pets.css.map */