:root {
  font-size: 10px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia;
}

.wrapper {
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 3rem;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  text-decoration: none;
}

.logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1rem;
}

.logo__subtitle {
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: #292929;
}

.logo__subtitle,
.navigation__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #545454;
}

.navigation__link:hover {
  cursor: pointer;
  color: #292929;
}

.navigation__link_active {
  border-bottom: 3px solid #f1cdb3;
}

.navigation__link_active:hover {
  cursor: default;
  opacity: 1;
}

.pets {
  background: #f6f6f6;
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.pets__header {
  width: 40rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 4.5rem;
}

.btn__primary_pets {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.btn__disabled {
  color: #CDCDCD;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 2.4rem;
}

.slider__controls {
  width: 100%;
  max-width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.4rem;
}

.slider__btn {
  width: 5.2rem;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  letter-spacing: 0.06em;
  font-family: Georgia;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #292929;
}

.slider__btn:hover {
  cursor: pointer;
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

.slider__btn_disabled {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}

.slider__btn_disabled:hover {
  cursor: auto;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  background: none;
}

.slider__btn_active {
  background-color: #f1cdb3;
}

.slider__btn_active:hover {
  cursor: auto;
  border: none;
  background-color: #f1cdb3;
}

.card {
  max-width: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
  border-radius: 0.9rem;
  margin-bottom: 2.8rem;
  padding-bottom: 3rem;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__image {
  margin-bottom: 3rem;
}

.card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2.9rem;
}

.btn_secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  padding: 15px 45px;
}

.btn_secondary:hover {
  cursor: pointer;
  background: #fddcc4;
}

.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4rem;
}

.contacts {
  max-width: 28rem;
  padding-top: 1.6rem;
}

.contacts__title {
  max-width: 28rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 4rem;
}

.contacts__email {
  margin-bottom: 4rem;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.email__link,
.phone__link,
.location__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.email__icon {
  color: #f1cdb3;
  margin-right: 2rem;
}

.email__text {
  font-family: Georgia;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.phone__icon {
  color: #f1cdb3;
  margin-right: 2rem;
}

.phone__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.location {
  max-width: 30.2rem;
  padding-top: 1.6rem;
}

.location__title {
  max-width: 27rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 3.4rem;
}

.location__icon {
  color: #f1cdb3;
  margin-right: 2rem;
}

.location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.2rem;
}

.location__text {
  font-family: #f1cdb3;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
/*# sourceMappingURL=our-pets.css.map */