html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #373737;
  background-color: #ffffff;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 15px;
  width: 590px;
  height: 96px;
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation__logo {
  margin: 0 100px;
}

.navigation__item:first-child {
  margin-right: 86px;
}

.navigation__item:last-child {
  margin-left: 85px;
}

.navigation__link {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__logo:hover {
  cursor: pointer;
  opacity: 1;
}

.navigation__link.active {
  cursor: auto;
  font-weight: 500;
  opacity: 1;
  border-bottom: 1px solid #ffffff;
}

/* Hero section styles */

.hero {
  color: #ffffff;
  z-index: -1;
}

.hero__content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url('../assets/bg-image.png') no-repeat center center;
  background-size: cover;
}

.hero__content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero__header {
  margin-bottom: 30px;
}

.hero__heading_hidden {
  visibility: hidden;
}

.hero__title {
  max-width: 735px;
  height: 75px;
  font-weight: bold;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 4.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero__text {
  max-width: 504px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 30px;
}

.hero__social-icons_wrapper {
  z-index: 1;
}

.hero__social-icons {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.social-icon {
  margin-right: 30px;
}

.social-icon:last-child {
  margin-right: 0;
}

.social-icon__link:hover {
  opacity: 0.8;
}

/* rappresent section styles */

.rappresent__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 269px 140px;
}

.rappresent__left {
  width: 407px;
  height: 233px;
  display: flex;
  flex-direction: column;
  margin-right: 248px;
}

.rappresent__heading {
  width: 367px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 25px;
}

.rappresent__text {
  width: 407px;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
  margin-bottom: 30px;
}

.rappresent__text > strong {
  font-weight: 700;
}

.rappresent__button {
  margin-left: -2px;
}

/* community section styles */

.community__wrapper {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  flex-direction: row;
  background: #f5f6f7;
}

.community__content {
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 155px 139px 174px;
}

.community__logo {
  margin-bottom: 20px;
}

.community__heading {
  width: 160px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 10px;
}

.community__text {
  width: 298px;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #4e4e4e;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 82px 0 140px;
}

.slider__controls {
  width: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 269px;
  margin-bottom: 20px;
}

.slider__slide-left,
.slider__slide-right {
  width: 9px;
  height: 14px;
}

.slider__slide-left:hover,
.slider__slide-right:hover {
  cursor: pointer;
  opacity: 0.5;
}

.slider__current-slide,
.slider__total-slides {
  font-size: 18px;
  line-height: 100%;
}

.slider__page-divider {
  width: 7px;
  height: 14px;
}

.slider__items {
  display: flex;
}

.slider__image {
  margin-right: 30px;
}

.slider__image:last-child {
  margin: 0;
}

/* footer */

.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 60px 160px 80px;
}

.footer__menu {
  display: flex;
}

.footer__menu-item {
  font-size: 14px;
  line-height: 140%;
  margin-right: 20px;
}

.footer__menu li + li {
  background: url('../assets/menu-items-divider.png') no-repeat center left;
  padding-left: 20px;
  color: #4e4e4e;
}

.footer__menu-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__menu-link:hover {
  opacity: 0.5;
}

.footer__logo {
  padding-right: 85px;
}

.footer__copyright {
  width: 170px;
  height: 20px;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
}

/* shared elements */

.button {
  padding: 15px 45px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button_colored {
  background: #00afdb;
}

.button_colored:hover,
.button_colored:focus {
  cursor: pointer;
  background: #009cc2;
}
